<!DOCTYPE html>
<html>
  <head>
    <title>Film Demo Page</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" 
    crossorigin="anonymous"></script>
    {{#each jsscripts}}
      <script src="/static/{{this}}">console.log("main.handlebars");</script>
    {{/each}}
  </head>
  <body>
    {{{body}}}
  </body>
</html>
