<!DOCTYPE html>
<html>
{{#each foo}}
{{this}}
{{/each}}
<head>
  <title>Director</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <!-- Menu Bar -->
  <div class="menuBar">
    <a href="index.html">Home</a>
    <a class="active" href="movies.html">Films</a>
    <a href="actors.html">Actors</a>
    <a href="directors.html">Directors</a>
    <a href="awards.html">Awards</a>
  </div>

  <!-- Main Content -->
  <div class="box">
    Film Data
    <input class="dataBtn" type="button" value="Edit">
    <input class="dataBtn" type="button" value="Delete">
    <table class="display">
      <tbody>
        {{#each movie}} 
        <tr class="rdisplay">
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
        </tr>
	{{/each}} 
      </tbody>
    </table>
  </div>

<div class="box">
    <center>
    <form id='searchFilm' action='' method=''>
      Search:
      <input type="text" name="filmSearchBox" id="filmSearchText">
      <input type="button" value="Search" onclick="searchFilmName()">
      </form>
    </center>
  </div>

  <div class="box">
    Add a Film
    <form id="addMovie" action="/movie" method="post">
      <table>
        <tr>
          <td>
            Title:
            <input type="text" name="title">
          </td>
          <td>
            Year Released:
            <input type="number" name="year" maxlength="4" size="5">
          </td>
					<td>
            Box Office:
            <input type="number" name="box_office">
          </td>
          <td>
            Director:
            <input type="text" name="director">
          </td>
          <td>
            Top Billed Actor:
            <input type="text" name="actor">
          </td>
					<td>
            Genre:
            <input type="text" name="genre">
          </td>
          <td>
            <input type="submit" value="Submit">
          </td>
        </tr>
      </table>
    </form>
  </div>
  <div class="box">
    Films:
    <ul>
      <li>Film:
        <a>Title:</a>
        <a>Release Date:</a>
        <a>Director:</a>
        <a>Awards:</a>
        <a>Cast:</a>
      </li>
    </ul>
  </div>
</body>
</html>
